# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = qichacha.settings

[deploy:qcc1]
url = http://10.0.0.146:6800/
project = qichacha
